.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-container p {
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    color: #FFF;
    padding: 0px 10px;
}

.portfolio-container h5 {
    color: #4762E4;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.portfolio-container h5:hover {
    color: #8193eb;
}

.portfolio-btn {
    color: '#FFF';
    border-radius: 5px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
}
.portfolio-container-transition :hover{
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(230, 222, 222, 0.1), 2px 1px 3px rgba(252, 250, 250, 0.08);
    transition: box-shadow .7s ease-in-out;
}